{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if template_data.is_recruiter %}
  <div class="p-3">
    <div class="container">
      <div class="row mt-3">
        <div class="col mx-auto mb-3" style="color: var(--secondary);">
          <h2>Applications</h2>
          <hr/>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5>Applied</h5>
            </div>
            <div class="card-body">
              {% for application in template_data.applications_applied %}
                {% include "applications/recruiter_application_list.html" %}
              {% empty %}
                <!--p class="small"><em>No applications.</em></-->
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5>Reviewed</h5>
            </div>
            <div class="card-body">
              {% for application in template_data.applications_reviewed %}
                {% include "applications/recruiter_application_list.html" %}
              {% empty %}
                <!--p class="small"><em>No applications.</em></-->
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5>Interview</h5>
            </div>
            <div class="card-body">
              {% for application in template_data.applications_interview %}
                {% include "applications/recruiter_application_list.html" %}
              {% empty %}
                <!--p class="small"><em>No applications.</em></-->
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5>Offer</h5>
            </div>
            <div class="card-body">
              {% for application in template_data.applications_offer %}
                {% include "applications/recruiter_application_list.html" %}
              {% empty %}
                <!--p class="small"><em>No applications.</em></-->
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              <h5>Closed</h5>
            </div>
            <div class="card-body">
              {% for application in template_data.applications_closed %}
                {% include "applications/recruiter_application_list.html" %}
              {% empty %}
                <!--p class="small"><em>No applications.</em></-->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="p-3">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6 mx-auto">
          <h2>Applications</h2>
          <hr />
          {% if template_data.applications %}
            {% for application in template_data.applications %}
              <div style="padding: 0.5rem 0rem">
                <div class="card">
                  <h5 class="card-header">
                    <a href="{% url 'posting.post' id=application.posting.id %}" class="job-title text-dark text-decoration-none">
                      {{ application.posting.company_name }} - {{ application.posting.job_title }}
                    </a>
                  </h5>
                  <div class="card-body">
                    <p><em>Application to {{ application.posting.job_title }} at {{ application.posting.company_name }}</em></p>
                    <p><strong>Status:</strong> {{ application.status }}</p>
                    {% if application.message != '' %}
                      <p><strong>Message:</strong> {{ application.message }}</p>
                    {% endif %}
                  </div>
                  <div class="card-footer text-body-secondary">
                    Applied {{ application.date }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>You do not currently have any applications.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock content %}
