{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
  <header class="masthead homepage-banner-logged-in py-4">
    <div class="container d-flex align-items-center flex-column pt-2">
      <h1>Welcome back, {{ user.first_name }}!</h1>
      <p><em>You have <strong>{{ template_data.notifications.count }}</strong> unread notification{% if template_data.notifications.count != 1 %}s{% endif %}.</em></p>
    </div>
  </header>
{% else %}
  <header class="masthead homepage-banner py-4">
    <div class="container flex-column">
      <img class="my-3" src="{% static 'img/TTWordmark.png' %}" width="400px" style="filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));">
      <p class="banner-text"><em>Follow the trail to your new adventure!</em></p>
      <a class="join-hover-btn" href="{% url 'accounts.register' %}">Join Today!</a>
    </div>
  </header>
{% endif %}
<!--div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        {% if user.is_authenticated %}
          <h4>Welcome back, {{ user.first_name }}!</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div-->
{% endblock content %}