.onboarding-btn {
  display: none;
}

.onbarding-container,
.onbarding-container * {
  box-sizing: border-box;
}

.onboarding-container .image{
  height: 120px;
  width: 100%;
  margin: 32px 0;
}

.onboarding-container .image img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.onboarding-overlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease;
}
.onboarding-overlay.active {
  opacity: 1;
}

.onboarding-container {
  z-index: 300;
  position: fixed;
  font-family: "Roboto", sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 25px));
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 100ms ease;
}

.onboarding-container.active {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.onboarding-container .content {
  background: white;
  max-width: 400px;
  padding-top: 24px;
  overflow: hidden;
}

.onboarding-steps {
  display: flex;
  width: 500%;
  height: 125%;
  transition: all 400ms ease;
}

.onboarding-step {
  width: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.onboarding-container h3 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  padding: 0 32px;
}

.onboarding-container p {
  line-height: 1.8;
  padding: 0 32px;
}

.onboarding-navigation-buttons {
  display: flex;
  gap: 2px black;
}

.onboarding-back-btn,
.onboarding-next-btn {
  width: 50%;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: var(--primary-dark);
  color: var(--text);
  text-transform: uppercase;
  transition: all 0.3s
}

.onboarding-back-btn {
  border-right: 1px solid var(--secondary);
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.onboarding-next-btn {
  border-left: 1px solid var(--secondary);
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.onboarding-back-btn:hover,
.onboarding-next-btn:hover {
  background-color: var(--primary);
}

.onboarding-skip-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  text-transform: uppercase;

}

.onboarding-skip-btn.active {
  cursor: pointer;
  transition: all 0.3s
}

.onboarding-skip-btn.active:hover {
  background-color: var(--accent-light);
  border: var(--accent-dark);
  color: var(--accent-dark);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.onboarding-dots{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.onboarding-dot {
  width: 10px;
  height: 10px;
  background: lightgray;
  border-radius: 50%;
  transition: all 400ms ease;
}

.onboarding-dot.active {
  background: dimgray;
}


.radio-container input {
  position: absolute;
  opacity: 0;
  height: 25px;
  width: 25px;
}

.radio-container:hover {
  cursor: pointer;
}

.radio-container .onboarding-label {
  position: relative;
  top: 0px;
  left: -5px;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
  padding: 5px 10px 0px 10px;
}

.radio-container:hover input ~ .onboarding-label {
  background-color: #666;
}

.radio-container input:checked ~ .onboarding-label {
  background-color: var(--primary);
}

.onbarding-label:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .onboarding-label:after {
  display: block;
}

.radio-container .onboarding-label:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hidden-resume-button,
#hidden-profile-pic-button {
  display: none;
}

.onboard-short-text {
  margin: 5px;
  border-radius: 0.375rem;
}

#add-link-button {
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
  color: var(--accent);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}

.onboard-short-text-xButton {
  color: crimson;
  border: none;
  background-color: rgba(0,0,0,0)
}

