.profile-info-box {
  border: 1px solid var(--accent-dark);
  width: 100%;
  border-radius: 1rem;
  padding: 0.375rem 0.75rem;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}

.profile-section-header {
  padding: 0.375rem 0.75rem;

}