.profile-info-box {
  border: 1px solid var(--accent-dark);
  width: 100%;
  border-radius: 1rem;
  padding: 0.375rem 0.75rem;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}

.profile-section-header {
  padding: 0.375rem 0.75rem;
}

.profile-check-btn {
  color: green;
  margin-left: auto;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: none;
}

.profile-edit-btn {
  color: grey;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: none;
}

.profile-hollow-btn {
  border: 1px solid var(--primary);
  border-radius: 0.375rem;
  color: var(--primary);
  background-color: rgba(0,0,0,0);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  margin: 8px 0px;
}

.profile-hollow-btn:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}