:root {
  --text: #ffffff;
  --background: #010104;
  --primary: #548060;
  --primary-dark: #324c39;
  --secondary: #0f1d0c;
  --secondary-light: #596e55;
  --accent: #6c92c0;
  --accent-light: #afc7e4;
  --accent-dark: #5b6e86;
}


.bg-index{
  background: url("/static/img/background.jpg") no-repeat fixed;
  background-size: 100% auto;
  background-color: var(--primary);
}

.homepage-banner{
  color: var(--text);
  text-align: center;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.primary-hover-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s
}

.primary-hover-btn:hover {
  background-color: var(--primary-dark);
  border: var(--primary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}

.secondary-hover-btn {
  background-color: var(--secondary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s
}

.secondary-hover-btn:hover {
  background-color: var(--secondary-light);
  border: var(--secondary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}

.hollow-btn {
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
  color: var(--accent);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}







