:root {
  --text: #ffffff;
  --background: #010104;
  --primary: #548060;
  --primary-dark: #324c39;
  --secondary: #0f1d0c;
  --secondary-light: #596e55;
  --accent: #6c92c0;
  --accent-light: #afc7e4;
  --accent-dark: #5b6e86;
}

.bg-index{
  background: url("/static/img/background.jpg") no-repeat fixed;
  background-size: 100% auto;
  background-color: var(--primary);
}

.homepage-banner{
  color: var(--text);
  text-align: center;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.primary-hover-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s
}

.primary-hover-btn:hover {
  background-color: var(--primary-dark);
  border: var(--primary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}

.secondary-hover-btn {
  background-color: var(--secondary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s
}

.secondary-hover-btn:hover {
  background-color: var(--secondary-light);
  border: var(--secondary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}

.hollow-btn {
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
  color: var(--accent);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}







.onbarding-container,
.onbarding-container * {
  box-sizing: border-box;
}

.onboarding-container .image{
  height: 120px;
  width: 100%;
  margin: 32px 0;
}

.onboarding-container .image img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.onboarding-overlay {
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease;
}
.onboarding-overlay.active {
  opacity: 1;
}

.onboarding-container {
  z-index: 300;
  position: fixed;
  font-family: "Roboto", sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 25px));
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 100ms ease;
}

.onboarding-container.active {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.onboarding-container .content {
  background: white;
  max-width: 350px;
  padding-top: 24px;
  overflow: hidden;
}

.onboarding-steps {
  display: flex;
  width: 350%;
  transition: all 400ms ease;
}

.onboarding-step {
  width: 350px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.onboarding-container h3 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  padding: 0 32px;
}

.onboarding-container p {
  line-height: 1.8;
  padding: 0 32px;
}

.onboarding-next-btn {
  width: 100%;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: var(--primary-dark);
  color: var(--text);
  text-transform: uppercase;
}

.onboarding-skip-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s
}

.onboarding-skip-btn:hover {
  background-color: var(--accent-light);
  border: var(--accent-dark);
  color: var(--accent-dark);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.onboarding-dots{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.onboarding-dot {
  width: 10px;
  height: 10px;
  background: lightgray;
  border-radius: 50%;
  transition: all 400ms ease;
}

.onboarding-dot active {
  background: dimgray;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.container span.onboarding-label {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

.container:hover input ~ .onboarding-label {
  background-color: #999;
}

.container input:checked ~ .onboarding-label {
  background-color: var(--primary);
}

.onbarding-label:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .onboarding-label:after {
  display: block;
}

.container .onboarding-label:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

