:root {
  --text: #ffffff;
  --background: #010104;
  --primary-light: #91b69a;
  --primary: #548060;
  --primary-dark: #324c39;
  --secondary: #0f1d0c;
  --secondary-light: #596e55;
  --accent: #6c92c0;
  --accent-light: #afc7e4;
  --accent-dark: #5b6e86;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
    flex: 1;
}

.bg-index {
  background: url("/static/img/background.jpg") no-repeat fixed;
  background-size: 100% auto;
  background-color: var(--primary);
}

.homepage-banner {
  color: var(--text);
  text-align: center;
}

.navbar a.nav-link {
  color: var(--text) !important;
}
.navbar a.nav-link:hover {
  color: var(--accent) !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer,
.ms-footer-bottom{
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.primary-hover-btn {
  background-color: var(--primary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-hover-btn:hover {
  background-color: var(--primary-dark);
  border: var(--primary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-btn {
  height: 2rem;
  text-align: center;
  background-color: var(--primary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.25rem 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.profile-btn:hover {
  background-color: var(--primary-dark);
  border: var(--primary);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.secondary-hover-btn {
  background-color: var(--secondary);
  border: none;
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.secondary-hover-btn:hover {
  background-color: var(--secondary-light);
  border: var(--secondary);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hollow-btn {
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
  color: var(--accent);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: default;
}

.profile-picture {
    margin-bottom: 4px;
    margin-left: 8px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

.select2-container--default .select2-selection--multiple {
    min-height: 38px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    color: black;
}

.select2-container {
    width: 100% !important;
}
