{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Edit Profile</h2>
                <hr />
                <form method="POST">
                    {% csrf_token %}
                    <!--pfp goes here-->
                    <input type="checkbox" id="profile" value="profile" name="hidden" style="accent-color: #548060;"> Only show my name and email to employers.<br /><br />
                    <p>
                        <label for="first_name">First Name:</label>
                        <textarea name="first_name" required class="form-control" id="first_name">{{ template_data.profile_user.first_name }}</textarea>
                    </p>
                    <p>
                        <label for="last_name">Last Name:</label>
                        <textarea name="last_name" required class="form-control" id="last_name">{{ template_data.profile_user.last_name }}</textarea>
                    </p>
                    <p>
                        <label for="headline">Headline:</label>
                        <textarea name="headline" class="form-control" id="headline">{{ template_data.profile_user.headline }}</textarea>
                    </p>
                    <!--location goes here when implemented-->
                    {% if not template_data.is_seeker %}
                        <p>
                            <label for="links">Links:</label>
                            <textarea name="links" class="form-control" id="links">{{ template_data.recruiter_user.links }}</textarea>Each link should be separated by a comma with no spaces. Leaving a space will still show your link but will not allow it to be clicked.
                        </p>
                    {% endif %}
                    {% if template_data.is_seeker %}
                        <!--skills here-->
                        <!--experience here-->
                        <hr>
                        <div id="experience-section">
                        {% for exp in template_data.experience %}
                        <h4>Experience Instance:</h4>
                        <div id="experience-id-{{ exp.id }}">
                        <div style="display: flex;">
                            <p><b>{{ exp.company_name }}</b></p>
                            {% if not exp.current_employee %}
                                <p style="margin-left: auto;">{{ exp.start_date }} - {{ exp.end_date }}</p>
                            {% else %}
                                <p style="margin-left: auto;">{{ exp.start_date }} - Present</p>
                            {% endif %}
                        </div>
                            <p><i>{{ exp.position_title }}</i></p>
                        
                            <p>Description: {{ exp.job_description }}</p>
                        <br>
                        <form method="POST" action="{% url 'accounts.edit_profile' user_link=user.slugify_name %}">
                        {% csrf_token %}
                        <!-- This is an awful way to delete an education but it works-->
                            <div class="mb-3" style="display:none;">
                                <label for="subfield" class="form-label"></label>
                                <textarea class="form-control" name="subfield">experience_remove</textarea>
                            </div>
                            <div class="mb-3" style="display:none;">
                                <label for="experience_id" class="form-label"></label>
                                <textarea class="form-control" name="experience_id">{{ exp.id }}</textarea>
                            </div>
                            <button id="experience-remove-{{ exp.id }}" type="submit" style="color: crimson; border: none; background-color: rgba(0,0,0,0)">&#10006</button>
                        </form>
                        </div>
                        {% endfor %}

      <button type="button" class="primary-hover-btn" data-bs-toggle="modal" data-bs-target="#newExperienceModal">Add Experience</button>
                        <!--Application Modal (popup)--->
      <div class="modal fade" id="newExperienceModal" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" action="{% url 'accounts.edit_profile' user_link=user.slugify_name %}">
              {% csrf_token %}
                <div class="mb-3" style="display:none;">
                    <label for="subfield" class="form-label"></label>
                    <textarea class="form-control" name="subfield">experience</textarea>
                </div>
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="applyModalLabel"><strong>Adding Experience to profile</strong></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="company_name" class="form-label">Company Name:</label>
                  <textarea class="form-control" id="company-name-input" name="company_name" rows="2" maxlength="63"></textarea>
                  <span style="color:crimson;" id="company-name-errmsg"></span>
                </div>
                <div class="mb-3">
                  <label for="position_title" class="form-label">Position Title:</label>
                  <textarea class="form-control" id="position-title-input" name="position_title" rows="2" maxlength="63"></textarea>
                  <span style="color:crimson;" id="position-title-errmsg"></span>
                </div>
                <div class="mb-3">
                  <label for="job_description" class="form-label">Job Description:</label>
                  <textarea class="form-control" id="job-description-input" name="job_description" rows="4" maxlength="511"></textarea>
                  <span style="color:crimson;" id="job-description-errmsg"></span>
                </div>
                <div class="mb-3">
                    <input type="checkbox" id="current-employee" value="True" name="current_employee" style="accent-color: #548060;" onclick="hideEndDate()"> Current Employee<br /><br />
                </div>
                <div class="mb-3">
                  <label for="start_date" class="form-label">Start Date:</label>
                  <input type="date" id="start-date-input" name="start_date" value="2025-02-19">
                </div>
                <div class="mb-3" id="experience-end-date-container" style="display:block;">
                  <label for="end_date" class="form-label">End Date:</label>
                  <input type="date" id="end-date-input" name="end_date" value="2025-02-19">
                </div> 
            </div>
              <div class="modal-footer">
                <button type="button" class="btn secondary-hover-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn primary-hover-btn">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
                        </div>
                        <input type="checkbox" id="experience" value="experience" name="hidden" style="accent-color: #548060;"> Hide my experience from employers.<br /><br />
                        <hr>
                        
                        
                        <div id="education-section">
                        {% for edu in template_data.education %}
                            <div id="education-id-{{ edu.id }}">
                            <div style="display: flex;">
                                <p><b>{{ edu.school_name }}</b></p>
                                <p style="margin-left: auto;">Graduation Year: {{ edu.grad_year }}</p>
                            </div>
                                <p>Degree: {{ edu.degree }}</p>
                                <br>
                        <form method="POST" action="{% url 'accounts.edit_profile' user_link=user.slugify_name %}">
                        {% csrf_token %}
                        <!-- This is an awful way to delete an education but it works-->
                            <div class="mb-3" style="display:none;">
                                <label for="subfield" class="form-label"></label>
                                <textarea class="form-control" name="subfield">education_remove</textarea>
                            </div>
                            <div class="mb-3" style="display:none;">
                                <label for="education_id" class="form-label"></label>
                                <textarea class="form-control" name="education_id">{{ edu.id }}</textarea>
                            </div>
                            <button id="education-remove-{{ edu.id }}" type="submit" style="color: crimson; border: none; background-color: rgba(0,0,0,0)">&#10006</button>
                            <!--figure out degree dropdown-->
                        </form>
                        </div>
                        {% endfor %}

      <button type="button" class="primary-hover-btn" data-bs-toggle="modal" data-bs-target="#newEducationModal">Add Education</button>
                        <!--Application Modal (popup)--->
      <div class="modal fade" id="newEducationModal" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" action="{% url 'accounts.edit_profile' user_link=user.slugify_name %}">
              {% csrf_token %}
                <div class="mb-3" style="display:none;">
                    <label for="subfield" class="form-label"></label>
                    <textarea class="form-control" name="subfield">education</textarea>
                </div>
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="applyModalLabel"><strong>Adding Education to profile</strong></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="grad_year" class="form-label">Graduation Year:</label>
                  <textarea class="form-control" id="grad-year-input" name="grad_year" rows="1" maxlength="4"></textarea>
                  <span style="color:crimson;" id="grad-year-errmsg"></span>
                </div>
                <div class="mb-3">
                  <label for="school_name" class="form-label">School Name:</label>
                  <textarea class="form-control" id="school-name-input" name="school_name" rows="2" maxlength="63"></textarea>
                  <span style="color:crimson;" id="school-name-errmsg"></span>
                </div>
                <div class="mb-3">
                  <label for="degree" class="form-label">Degree:</label>
                  <select name="degree" class="filter-selectbox">
                  {% for value, label in template_data.degree_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn secondary-hover-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn primary-hover-btn">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
                        </div>
                        <input type="checkbox" id="education" value="education" name="hidden" style="accent-color: #548060;"> Hide my education from employers.<br /><br />
                        <!--resume here at some point-->
                        <hr>
                        <p>
                            <label for="links">Links:</label>
                            <textarea name="links" class="form-control" id="links">{{ template_data.seeker_user.links }}</textarea>Each link should be separated by a comma with no spaces. Leaving a space will still show your link but will not allow it to be clicked.
                        </p>
                        <input type="checkbox" id="links" value="links" name="hidden" style="accent-color: #548060;"> Hide my links from employers.<br /><br />
                    {% endif %}
                    <div class="text-start">
                        <button type="submit" class="btn text-white" style="background-color: #548060;">Confirm Changes to Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

  // FOR grad_year input
  const gradYearTextarea = document.getElementById("grad-year-input");
  const gradYearErrMsg = document.getElementById("grad-year-errmsg");

  // Add an input event listener
  gradYearTextarea.addEventListener("input", function(e) {
    // Remove any non-numeric characters (except for potential leading - or .)
    const numericValue = this.value.replace(/[^\d.-]/g, ''); 
    
    // Update the textarea value
    this.value = numericValue;
    
    // Display an error message if non-numeric characters were present
    if (this.value !== e.data) { // Simple check if the input was modified
      gradYearErrMsg.textContent = "Only numbers are allowed.";
    } else {
      gradYearErrMsg.textContent = "";
    }
  });
  // For mobile devices, the inputmode attribute helps bring up the numeric keyboard
  gradYearTextarea.setAttribute("inputmode", "numeric"); //

  // For toggling EndDate when creating experience
  function hideEndDate() {
    var currentEmployee = document.getElementById("current-employee");
    var endDate = document.getElementById("experience-end-date-container");
    if (currentEmployee.checked == true) {
        endDate.style= "display:none;";
    } else {
        endDate.style= "display:block;";
    }
  }
/*const educationSection = document.querySelector("#education-section");
const addEducationBtn = document.querySelector("#add-education-button");


const addNewButtonCSS = "border: 1px solid var(--accent); border-radius: 0.375rem; color: var(--accent); padding: 0.375rem 0.75rem; text-align: center; text-decoration: none; display: inline-block; font-size: 1rem; cursor: default;"
const xButtonCSS =   "color: crimson; border: none; background-color: rgba(0,0,0,0)"
const shortTextInputCSS = "margin: 5px; border-radius: 0.375rem;"

let educationCount = 0;

addEducationBtn.addEventListener("click", () => {
    debugger;
    if (educationCount >= 5) {return;}
    var newInstance = document.createElement("div");
    newInstance.id = "education"+educationCount+"new";
    var gradYear = document.createElement("input");
    gradYear.type = "text";
    gradYear.name = "gradYear"+educationCount;
    gradYear.id = "education"+educationCount+"gradYear";
    gradYear.style = shortTextInputCSS;
    newInstance.appendChild(gradYear);
    var xButton = document.createElement("button");
    xButton.style = xButtonCSS;
    xButton.id = "education"+educationCount+"button";
    xButton.innerHTML = "&#10006";
    xButton.addEventListener('click', education_xButtonHandler);
    newInstance.appendChild(xButton);
    var br = document.createElement("br");
    newInstance.appendChild(br);
    educationSection.append(newInstance);
    educationCount++;
    if (educationCount == 5) {
        addEducationBtn.innerHTML = "Max number of educations";
    }
});

function education_xButtonHandler(event) {
    debugger;
    let buttonIndex = this.id.charCodeAt(9) - '0'.charCodeAt(0);
    console.log(buttonIndex);
    educationCount--;
    document.querySelector("#education"+{buttonIndex}+"new").remove();
    addLinkBtn.innerHTML = " &#10010 Add Education";
}*/




</script>

{% endblock content %}