{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--this should really be cleaned up and formatted lol-->
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div>
            <div class="container" style="display: flex; align-items: center;">
                {% if template_data.profile_user.pfp %}
                    <img src="{{ template_data.profile_user.pfp.url }}" class="img-fluid rounded" style="width: 100px; height: auto; clip-path: circle();">
                {% else %}
                    <img class="profile-picture" src="{% static 'img/default_pfp.png' %}" alt="Profile Picture"/>
                {% endif %}
                <h4 style="text-align: center;">{{ template_data.profile_user.first_name }} {{ template_data.profile_user.last_name }}</h4>
                {% if user.is_authenticated and user == template_data.profile_user %}
                    <a class="primary-hover-btn" href="{% url 'accounts.edit_profile' user_link=user.slugify_name %}" style="margin-left: auto;">Edit Profile and Privacy</a>
                {% else %}
                <div style="margin-left: auto; display: flex; flex-direction: column; gap: 10px;">
                    <a class="primary-hover-btn" href="{% url 'chat.create_room' participant_id=template_data.profile_user.id %}" style="margin-left: auto;"><i class="fas fa-message"></i></a>
                    <a class="primary-hover-btn" href="mailto:{{ template_data.profile_user.email }}" style="margin-left: auto;"><i class="fas fa-envelope"></i></a>
                </div>
                {% endif %}
            </div>

            <hr>
            <!--
            {% if template_data.is_seeker %}
                <h5>Job Seeker</h5>
            {% endif %}
            -->
            {% if template_data.is_recruiter %}
                <h5>Recruiter at <b>{{ template_data.recruiter_user.company }}</b></h5>
            {% endif %}
            <p>Joined {{ template_data.profile_user.date_joined }}</p>
            <p>{{ template_data.profile_user.email }}</p>
        </div>
        <div id="profile-info">
        {% if template_data.is_seeker %}
            {% if not template_data.seeker_user.account_is_hidden %}
                {% if template_data.profile_user.headline %}
                    <h2 class="profile-section-header">Headline</h2>
                    <div class="profile-info-box">
                        <p>{{ template_data.profile_user.headline }}</p>
                    </div>
                    <hr>
                {% endif %}
                {% for skill in template_data.skills %}
                    
                {% endfor %}
                <h2 class="profile-section-header">Experience</h2>
                <div class="profile-info-box">
                {% if not template_data.seeker_user.experience_is_hidden %}
                    {% for exp in template_data.experience %}
                        <div style="display: flex;">
                            <p><b>{{ exp.company_name }}</b></p>
                            {% if not exp.current_employee %}
                                <p style="margin-left: auto;">{{ exp.start_date }} - {{ exp.end_date }}</p>
                            {% else %}
                                <p style="margin-left: auto;">{{ exp.start_date }} - Present</p>
                            {% endif %}
                        </div>
                            <p><i>{{ exp.position_title }}</i></p>
                        
                            <p>Description: {{ exp.job_description }}</p>
                        <hr>
                    {% endfor %}
                {% endif %}
                </div>
                <hr>
                <h2 class="profile-section-header">Education</h2>
                <div class="profile-info-box">
                {% if not template_data.seeker_user.education_is_hidden %}
                    {% for edu in template_data.education %}
                        <div style="display: flex;">
                            <p><b>{{ edu.school_name }}</b></p>
                            <p style="margin-left: auto;">Graduation Year: {{ edu.grad_year }}</p>
                        </div>
                            <p>Degree: {{ edu.degree }}</p>
                        <hr>
                    {% endfor %}
                {% endif %}
                </div>
                <!--resume here-->
                {% if not template_data.seeker_user.links_is_hidden %}
                <h2 class="profile-section-header">Links</h2>
                <div class="profile-info-box">
                    {% for link in template_data.links %}
                        <a href="https://{{ link }}">{{ link }}</a>
                        <hr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if template_data.seeker_user.account_is_hidden %}
                <p>This account's details are hidden.</p>
            {% endif %}
        {% elif template_data.is_recruiter %}
            {% if not template_data.recruiter_user.account_is_hidden %}
                {% if template_data.profile_user.headline %}
                    <h2 class="profile-section-header">Headline</h2>
                    <div class="profile-info-box">
                        <p>{{ template_data.profile_user.headline }}</p>
                    </div>
                    <hr>
                {% endif %}
                {% if not template_data.recruiter_user.links_is_hidden %}
                <h2 class="profile-section-header">Links</h2>
                <div class="profile-info-box">
                    {% for link in template_data.links %}
                        <a href="https://{{ link }}">{{ link }}</a>
                        <hr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if template_data.recruiter_user.account_is_hidden %}
                <p>This account's details are hidden.</p>
            {% endif %}
        {% else %}
        <p>This account's profile has not been set up.</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<!-- None of this works btw
<div id="hidden-data" style="display: none;">
    <div id="is_seeker">{{ template_data.is_seeker }}</div>
    <div id="is_recruiter">{{ template_data.is_recruiter }}</div>
    {% if template_data.is_seeker %}
    <div id="is_hidden">{{ template_data.seeker_user.is_hidden }}</div>
    {% elif template_data.is_recruiter %}
    <div id="is_hidden">{{ template_data.recruiter_user.is_hidden }}</div>
    {% else %}
    <div id="is_hidden">No User Type</div>
    {% endif %}
</div>

<script>
    const profileInfo = document.querySelector("#profile-info");
    const isSeeker = document.querySelector("#is_seeker").innerHTML;
    const isRecruiter = document.querySelector("#is_recruiter").innerHTML;
    const isHidden = document.querySelector("#is_hidden");

    let hideProfile = false;
    let noUserType = false;

    function checkPrivacy() {
        console.log(isSeeker);
        console.log(isRecruiter);
        if (isSeeker == "True" || isRecruiter == "True") {
            hideProfile = (isHidden.innerHTML) == "True";
        } else {
            noUserType = true;
        }
    }

    window.addEventListener("load", () => {
        checkPrivacy();
        console.log("No User Type: "+noUserType);
        console.log("Hidden Profile: "+hideProfile);
        if (noUserType) {
            profileInfo.innerHtml = "<p>This profile has not been set up.</p>"
        } else if (hideProfile) {
            profileInfo.innerHtml = "<p>This profile is private.</p>"
        }
    });
</script>
-->
{% endblock content %}